body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #438FFF;
}

.counter {
  font-size: 3em;
  margin: 20px;
  color: #333;
}

.message {
  color: #666;
}
